@charset "UTF-8";
/* 要上传的数据 */
.app-upload {
	width: 843px;
	padding: 25px 0 44px 35px;
	border: 1px solid #ddd;
	margin-bottom: 18px;
}
/* 上传照片 */
.upload-img span {
	float: left;
	margin-right: 20px;
	line-height: 20px;
}
.upload-img div {
	position: relative;
	float: left;
	width: 198px;
	height: 93px;
	border: 1px dotted #c3c3c3;
}
.upload-img img {
	float: left;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 180px;
	height: 77px;
}
.fileimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 198px;
	height: 93px;
	opacity: 0;
	cursor: pointer;
	z-index: 1;
}
/* 发布时间 */
.upload-time {
	float: left;
	height: 30px;
	margin: 19px 0 22px 7px;
}
.inlab {
	width: 98px;
	margin-right: 11px;
}
.inbox {
	float: left;
	margin-right: 70px;
}
.intex {
	width: 186px;
	color: #000;
}
/* 链接类型 */
.upload-link {
	float: left;
	display: inline;
	margin-left: 36px;
}
.upload-link span {
	float: left;
	margin-right: 12px;
	line-height: 14px;
}
.link-style {
	float: left;
	position: relative;
}
.link-style span {
	float: left;
	width: 125px;
	height: 14px;
	color: #67add1;
	text-decoration: underline;
	background: url("../images/app-link.png") right center no-repeat;
	cursor: pointer;
}
/* 链接类型下拉框 */
.link-style ul {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 86px;
	margin-top: 20px;
	padding-top: 7px;
	border: 1px solid #e1e1e1;
	background: #fff;
	text-align: center;
}
.link-style li {
	width: 100px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	cursor: pointer;
}
/* 发布按钮 */
.common-btn {
	margin-top: 0;
}
/* 表格 */
.common-tab {
	margin-top: 52px;
}
.common-tab table td {
	border: 1px solid #dcdedf;
}
.common-tab table img {
	display: block;
	width: 104px;
	height: 84px;
	border: 2px solid #bfbfbf;
}
.common-tab table p {
	overflow: hidden;
	width: 163px;
	height: 14px;
	margin: 0 auto;
	text-align: center;
	line-height: 14px;
}
.tab-operate {
	position: relative;
}
.td-1 {
	z-index: 9;
}
.td-2 {
	z-index: 8;	
}
.td-3 {
	z-index: 7;	
}
.td-4 {
	z-index: 6;
}
.td-5 {
	z-index: 5;
}
/* 表格操作 */
.tab-state {
	position: relative;
	width: 103px;
	height: 29px;
	margin: 0 auto;
	text-align: center;
	line-height: 29px;
	z-index: 9;
}
.tab-state span {
	float: left;
	overflow: hidden;
	width: 42px;
	height: 29px;
}
.tab-del {
	float: right;
	position: relative;
	width: 21px;
	height: 29px;
	background: url("../images/appdel-1.png") center center no-repeat;
	cursor: pointer;
	z-index: 20;
}
.tab-del em {
	display: none;
	position: absolute;
	left: -15px;
	bottom: 35px;
	width: 50px;
	height: 28px;
	line-height: 22px;
	color: #fff;
	background: url("../images/del.png") center center no-repeat;
}
/* 删除确认框 */
.del-check {
	display: none;
	position: absolute;
	top: 86px;
	left: -5px;
	_left: -9px;
	width: 223px;
	height: 94px;
	padding: 34px 0 0 20px;
	color: #6a6868;
	background: url("../images/del-check.png") center center no-repeat;
	z-index: 220;
}
.del-check span {
	float: left;
	overflow: hidden;
	width: 199px;
	height: 14px;
	margin-bottom: 24px;
	text-align: left;
	line-height: 14px;
}
.del-check div {
	float: left;
	width: 88px;
	height: 27px;
	margin-right: 19px;
	border: 1px solid #b4b4b4;
	line-height: 28px;
	cursor: pointer;
}
/* 自定义链接 */
.custom-link {
	display: none;
	position: absolute;
	top: 49%;
	left: 29%;
	width: 560px;
	height: 135px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: #e3e3e3 0px 0px 2px 2px;
	-moz-box-shadow: #e3e3e3 0px 0px 2px 2px;
	box-shadow: #e3e3e3 0px 0px 2px 2px;
}
.custom-link .common-hidtit {
	width: 520px;
}
.custom-con {
	width: 530px;
	height: 62px;
	padding: 25px 0 0 27px;
	color: #494949;
	background: #fff;
}
.custom-con .inlab {
	margin-right: 0;
	font-weight: bold;
}
.custom-con .intex {
	width: 275px;
}
/* 话题列表 */
.topic-link {
	display: none;
	position: absolute;
	top: 45%;
	left: 25%;
	width: 899px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: #e3e3e3 0px 0px 2px 2px;
	-moz-box-shadow: #e3e3e3 0px 0px 2px 2px;
	box-shadow: #e3e3e3 0px 0px 2px 2px;
	z-index: 10;
}
.topic-con {
	width: 829px;
	height: 680px;
	padding: 22px 35px;
	background: #fff;
}
.topic-con .common-tab table {
    width: 829px;
    margin-top: -30px;
}
.topic-con .common-tab table img {
	width: 55px;
	height: 55px;
	border: 0;
}
.topic-con .common-tab table p {
	width: 128px;
	height: 28px;
}