@charset "UTF-8";
/* 添加数据 */
.app-upload {
	width: 880px;
	height: 257px;
	margin: 43px auto 0;
	border: 1px solid #ddd;
}
/* 上传图片 */
.app-img {
	width: 843px;
	height: 98px;
	margin-top: 25px;
	padding-left: 35px;
}
.app-img div {
	float: left;
	width: 198px;
	height: 96px;
	margin-left: 20px;
	border: 1px dotted #c2c2c2;
	background: url("../images/upload.png") center center no-repeat;
	cursor: pointer;
}
.app-upload h4 {
	float: left;
}
.app-upload input {
	float: left;
	width: 198px;
	margin: 0 71px 0 11px;
}
/* 发布时间 */
.app-time {
	width: 836px;
	height: 32px;
	margin-top: 19px;
	padding-left: 42px;
}
/* 链接类型 */
.app-link {
	position: relative;
	width: 807px;
	margin-top: 23px;
	padding-left: 71px;
}
.app-link span {
	float: left;
	width: 126px;
	height: 18px;
	margin-left: 10px;
	line-height: 18px;
	text-decoration: underline;
	color: #67add1;
	background: url("../images/app-link.png") right 4px no-repeat;
	cursor: pointer;
}
.applink-style {
	display: none;
	position: absolute;
	top: 20px;
	left: 148px;
	width: 100px;
	height: 91px;
	border: 1px solid #e6e5e6;
	background: #fff;
}
.applink-style ul {
	height: 86px;
	padding-top: 7px;
}
.applink-style li {
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
/* 发布按钮 */
.btn-release {
	float: right;
	width: 100px;
	height: 29px;
	margin: 18px 65px 0 0;
	border: 0;
	color: #fff;
	background: #2ed771;
	text-align: center;
	line-height: 29px;
	cursor: pointer;
}
/* 自定义链接 */
.custom {
	display: none;
	position: absolute;
	top: 350px;
	left: 450px;
	width: 560px;
	height: 135px;
	border: 2px solid #d8d9db;
	background: #fff;
}
.custom-tit {
	width: 520px;
	height: 49px;
	padding: 0 20px;
	background: #2ed771;
}
.custom-tit h3, .topic-tit h3 {
	float: left;
	line-height: 49px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.custom-tit div, .topic-tit div {
	float: right;
	width: 50px;
	height: 49px;
	background: url("../images/app-out.png") right center no-repeat;
	cursor: pointer;
}
.custon-con {
	width: 531px;
	height: 86px;
	padding-left: 29px;
}
.custon-con span {
	float: left;
	height: 86px;
	margin-right: 12px;
	line-height: 86px;
	font-weight: bold;
}
.custon-con input {
	float: left;
	width: 313px;
	height: 28px;
	line-height: 28px;
	margin-top: 25px;
}
/* 话题 */
.app-topic {
	display: none;
	position: absolute;
	top: 350px;
	left: 350px;
	width: 900px;
	height: 804px;
	border: 2px solid #d8d9db;
	background: #fff;
}
.topic-tit {
	width: 860px;
	height: 49px;
	padding: 0 20px;
	background: #2ed771;
}
/* APP启动图表格 */
.app-datalist table {
	overflow: hidden;
	width: 880px;
	margin: 69px 0 0 72px;
	text-align: center;
}
.app-datalist table tr {
	line-height: 39px;
}
.app-datalist table th {
	text-align: center;
}
.app-datalist table td {
	border: 1px solid #d8d9db;
}
.app-datalist table img {
	display: block;
	width: 106px;
	height: 86px;
	margin: 11px auto;
	border: 2px solid #bfbfbf;
}
/* APP删除 */
.app-datalist .app-del {
	float: right;
	position: relative;
	width: 50px;
	height: 29px;
	margin: 5px 8px 0 0;
	background: url("../images/appdel-1.png") center 0 no-repeat;
	cursor: pointer;
}
.app-del div {
	display: none;
	position: absolute;
	bottom: 35px;
	width: 50px;
	height: 28px;
	line-height: 24px;
	color: #fff;
	background: url("../images/app-del.png") 0 0 no-repeat;
	cursor: pointer;
}
/* 删除确认框 */
/*.del-check {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 243px;
	height: 128px;
	background: url("../images/del-check.png") 0 0 no-repeat;
}*/
/* 已发布 */
.app-datalist table span {
	float: left;
	padding-left: 14px;
}