@charset 'utf-8';
/*一级布局设置*/
.common-wrap, .common-top, .common-bot {
	min-width: 1200px;
	background-color: #eee;
}
.common-topcon, .common-mid, .common-bot h3 {
	width: 1200px;
	margin: 0 auto;
}
.common-top, .common-mid {
	background-color: #fff;
}
.common-mid {
	margin-top: 40px;
}
.common-tit, .common-tailcon {
	float: left;
	width: 184px;
	min-height: 600px;
}
.common-tit {
	padding: 30px 0;
	border-right: 1px solid #dcdcdc;
}
.common-tailcon {
	width: 880px;
	padding: 50px 65px 50px 70px;
}
/*二级布局*/
/*顶部的布局*/
.common-topcon {
	width: 1120px;
	height: 40px;
	padding: 19px 38px 19px 42px;
}
.common-topcon .logo, .common-topcon ul, .common-topcon .username {
	float: left;
	height: 40px;
	line-height: 40px;	
}
.logo {
	margin-right: 60px;
}
.logo a, .logo img {
	float: left;
	width: 40px;
	height: 40px;
}
.logo span {
	margin-left: 8px;
	color: #666;
	font-size: 22px;
}
.common-topcon .username {
	float: right;
}
.common-topcon li a {
	display: block;
	width: 66px;
	height: 40px;
	color: #222;
	cursor: pointer;
}
.common-topcon li {
	float: left;
	position: relative;
	width: 66px;
	height: 40px;
	background: url("../images/nav.png") 17px 2px no-repeat;
	text-align: center;
}
.common-topcon .com-merchant {
	background: url("../images/nav.png") -34px 2px no-repeat;
}
.common-topcon .com-topic {
	background: url("../images/nav.png") -83px 2px no-repeat;
}
.common-topcon .com-adduser {
	background: url("../images/nav.png") -132px 2px no-repeat;
}
.common-topcon .com-order a:hover {
	color: #39f;
	background: url("../images/nav.png") 17px -45px no-repeat;
}
.common-topcon .com-merchant a:hover {
	color: #39f;
	background: url("../images/nav.png") -34px -44px no-repeat;
}
.common-topcon .com-topic a:hover {
	color: #39f;
	background: url("../images/nav.png") -83px -44px no-repeat;
}
.common-topcon .com-adduser a:hover {
	color: #39f;
	background: url("../images/nav.png") -132px -44px no-repeat;
}
.common-topcon li h2 {
	float: bottom;
	height: 12px;
	padding-top: 28px;
	line-height: 12px;
	font-size: 12px;
}
.common-topcon li span {
	display: block;
	position: absolute;
	left: 35px;
	top: -10px;
	width: 20px;
	height: 20px;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	line-height: 20px;
}
.username span {
	color: #292f35;
	font-size: 18px;
}
.username .back-index {
	font-size: 16px;
}
.username .back-index:hover {
	color: #f00;
	background-color: #fff;
}
/*选择栏*/
.common-tit div {
	overflow: hidden;
	height: 35px;
	border-bottom: 1px solid #dcdcdc;
	font-size: 12px;
	text-indent: 60px;
	line-height: 35px;
}
.common-tit h2 {
	color: #b2b2b2;
	background: url("../images/bgtit.png") 30px -19px no-repeat;
	cursor: pointer;
}
.ad-manage h2 {
	background: url("../images/bgtit.png") 30px -49px no-repeat;
}
.square-manage h2 {
	background: url("../images/bgtit.png") 30px -79px no-repeat;
}
.admin-account h2 {
	background: url("../images/bgtit.png") 30px -110px no-repeat;
}
.news-delay h2 {
	background: url("../images/bgtit.png") 30px -141px no-repeat;
}
.seting h2 {
	background: url("../images/bgtit.png") 30px -175px no-repeat;
}
.back-home {
	padding-bottom: 8px;
}
.back-home a {
	color: #b2b2b2;
	background: url("../images/bgtit.png") 30px 7px no-repeat;
}
.common-tit .select {
	background-color: #2ed771;
	color: #fff;
}
.common-tit a {
	display: block;
	width: 184px;
	height: 35px;
}
.common-tit a:hover {
	background-color: #eee;
}
.common-tit .seting {
	border-bottom: 0;
}
/*底部版权*/
.common-bot {
	padding: 17px 0;
}
.common-bot h3 {
	text-align: center;
	word-spacing: 10px;
}

/*二级布局公共样式*/
/*等同按钮存为公共按钮*/
.common-btn {
	float: right;
	width: 115px;
	height: 28px;
	margin: 11px 0 0;
	color: #fff;
	background: #2ed771;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	-webkit-box-shadow: #c2c2c2 0px 0px 2px 2px;
	-moz-box-shadow: #c2c2c2 0px 0px 2px 2px;
	box-shadow: #c2c2c2 0px 0px 2px 2px;
	cursor: pointer;
}
/* 隐藏页面的标题 */
.common-hidtit {
	width: 860px;
	height: 49px;
	padding: 0 20px;
	background: #2ed771;
}
.common-hidtit h3 {
	float: left;
	line-height: 49px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.common-hidtit div {
	float: right;
	width: 50px;
	height: 49px;
	background: url("../images/app-out.png") right center no-repeat;
	cursor: pointer;
}
/* 内容页的跳转 */
.page-num {
	float: right;
	width: 262px;
	height: 30px;
	margin-top: 17px;
}
.next-page {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.next-clickadd, .next-clicksub {
	float: left;
	width: 30px;
	height: 30px;
	background: url("../images/nextpage.png");
	margin: 0 10px;
	cursor: pointer;
}
.next-clicksub {
	visibility: hidden;
	background: url("../images/nextpage1.png");
	margin-left: 0px;
}
.Jump-page {
    float: left;
    width: 142px;
}
.Jump-page input {
    float: left;
    width: 76px;
    height: 26px;
    margin-right: 8px;
    line-height: 30px;
}
.Jump-page div {
    float: right;
    width: 52px;
    height: 28px;
    border: 1px solid #e1e1e1;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

/*input样式*/
.tabelbox {
	border: 1px solid #ddd;
}
.inbox, .incheck {
	margin-bottom: 18px;
}
.inlab {
	float: left;
	/*width: 70px;*/
	line-height: 30px;
}
.textbox, .tareabox {
	float: left;
	border: 1px solid #ddd;
}
.intex, .checktex, .intarea {
	width: 228px;
	height: 28px;
	border: 0;
	padding: 0 6px;
	line-height: 28px;
	outline: medium;
}
.checkbox {
	float: left;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.checktex {
	width: 205px;
	color: #b3b5b6;
}
.checkout span {
	float: left;
	display: block;
	width: 23px;
	height: 30px;
	background: url("../images/liandong.png") 0 0 no-repeat;
}
.incheck ul {
	display: none;
	width: 240px;
	margin-left: 70px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
	color: #b3b5b6;
}
.incheck li {
	height: 25px;
	line-height: 25px;
}
.intarea {
	width: 399px;
	height: 176px;
	resize : none;
}
/* 表格基本样式 */
.common-tab table {
    width: 880px;
    margin-top: 77px;
    text-align: center;
}
.common-tab table th {
    padding: 0 10px;
    border: 1px solid #e1e1e1;
    text-align: center;
    line-height: 39px;
}
.common-tab table td {
    padding: 0 20px;
    border: 1px solid #e1e1e1;
}
.common-tab table img {
    display: block;
    width: 60px;
    height: 59px;
    margin: 11px auto;
}
/* 删除确认框 */
.del-check {
	display: none;
	position: absolute;
	top: 69px;
	left: -38px;
	width: 243px;
	height: 128px;
	padding-left: 21px;
	background: url("../images/del-check.png") 0 0 no-repeat;
}
.del-check span {
	float: left;
	overflow: hidden;
	width: 199px;
	height: 14px;
	margin: 35px 0 24px 0 ;
	color: #6a6868;
	line-height: 14px;
}
.del-check div {
	float: left;
	width: 89px;
	height: 28px;
	margin-right: 19px;
	border: 1px solid #b4b4b4;
	color: #6a6868;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}
 /*下载、删除、详情按钮 */
.list-operate {
	width: 123px;
	height: 21px;
	margin: 0 auto;
}
.download {
	float: left;
	position: relative;
	width: 19px;
	height: 21px;
	margin-right: 34px;
	background: url("../images/download-1.png") 0 center no-repeat;
	cursor: pointer;
}
.tab-del {
	float: left;
	position: relative;
	width: 16px;
	height: 21px;
	margin-right: 32px;
	background: url("../images/listdel-1.png") center 0 no-repeat;
	cursor: pointer;
}
.list-icon {
	float: left;
	position: relative;
	width: 21px;
	height: 21px;
	background: url("../images/listicon-1.png") 0 center no-repeat;
	cursor: pointer;
}
/* 按钮悬停样式 */
.download div, .tab-del em, .list-icon div {
	display: none;
	position: absolute;
	left: -15px;
	bottom: 28px;
	width: 50px;
	height: 28px;
	line-height: 22px;
	color: #fff;
	background: url("../images/del.png") 0 0 no-repeat;
}
.tab-del em {
	left: -17px;
}
.list-icon div {
	width: 84px;
	left: -31px;
	background: url("../images/list-icon.png") 0 0 no-repeat;
}