@charset "UTF-8";
/* 搜索信息模块 */
.search-model {
	width: 838px;
	height: 106px;
	margin-bottom: 14px;
	padding: 25px 0 0 40px;
	border: 1px solid #e1e1e1;
}
/* 选择城市 */
/* 发布时间 */
.upload-time {
	float: left;
	height: 30px;
	margin: 19px 0 22px 7px;
}
.inlab {
	width: 98px;
	margin-right: 11px;
}
.inbox {
	float: left;
	margin-right: 70px;
}
.intex {
	width: 186px;
	color: #000;
}
/* 搜索按钮 */
.common-btn {
	width: 100px;
	margin-top: 0;
}
/* 列表 */
.search-list table img {
	margin: 17px auto;
}
.tab-operate {
	position: relative;
}
.td-1 {
	z-index: 9;
}
.td-2 {
	z-index: 8;	
}
.td-3 {
	z-index: 7;	
}
.td-4 {
	z-index: 6;
}
.td-5 {
	z-index: 5;
}
.td-6 {
	z-index: 4;
}
.td-7 {
	z-index: 3;
}
 /*下载、删除 */
.list-operate {
	float: right;
	width: 69px;
	margin: 0 auto;
}
