.wrap {
			min-width: 1200px;
			background: #fff;
		}
		.big-pic {
			min-width: 1200px;
			background: #38d7b0;
		}
		.pic-con {	
			width: 1200px;
			height: 700px;
			margin: 0 auto;
		}
		.head {
			width: 1140px;
			height: 56px;
			margin: 0 auto;
			padding: 10px 60px 10px 0;
		}
		.logo {
			float: left;
			width: 230px;
		}
		.logo dt {
			float: left;
			width: 56px;
			height: 56px;
			margin-right: 20px;
			padding-left: 16px;
		}
		.logo dt a {
			display: block;
		}
		.logo dt img {
			display: block;
			width: 56px;
			height: 56px;
		}
		.logo h2 {
			height: 34px;
			color: #363636;
			line-height: 34px;
			font-size: 30px;
		}
		.logo p {
			height: 16px;
			color: #363636;
		}
		.logo dd {
			float: left;
			width: 132px;
		}
		.index-nav {
			float: right;
			height: 19px;
			overflow: hidden;
			padding: 36px 0 0 0;
		}
		.index-nav a {
			float: left;
			display: block;
			height: 30px;
			margin-left: 40px;
		}
		.index-nav span {
			color: #000;
		}
		.index-nav a:hover span {
			color: #ccc;
		}
		.pic-con {
			position: relative;
			background: url('../images/loadbg_03.png') 50px 75px no-repeat no-repeat;
		}
		.landing, .scan-code {
			position: absolute;
			right: 60px;
			display: inline;
			background: #fff;
			border: 1px solid #b3b3b3;	
		}
		.landing {
			top: 80px;
			width: 296px;
			height: 288px;
		}
		.landing dl dt, .landing dl dd {
			float: left;
		}
		.landing dl dt {
			display: inline;
			width: 25px;
			height: 25px;
			margin: 8px 8px 0 90px;
			line-height: 25px;
		}
		.landing dl img {
			display: block;
			width: 100%;
			height: 100%;
		}
		.landing dl {
			height: 44px;
			border-bottom: 1px solid #bbb;
			color: #363636;
			text-align: center;
			line-height: 44px;
			font-size: 16px;
		}
		.landing form {
			margin-top: 28px;
			/*padding-right: 34px;*/
			color: #363636;
		}
		.landing .button {
			width: 226px;
			height: 38px;
			margin: 34px 34px 8px 34px;
			background: #21d771;
			color: #fff;
			font-size: 18px;
			border: 0;
			-mo-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
		}
		.landing .button:hover {
			background: #20ed71;
		}
		.landing p {
			display: none;
			color: #f00;
			text-align: center;
			font-size: 12px;
		}
		.pic-change {
			position: absolute;
			top: 642px;
			right: 60px;
			width: 100px;
		}
		.pic-change span {
			float: right;
			display: none;
			margin-left: 13px;
			width: 29px;
			height: 29px;
			border-radius: 50%;
			cursor: pointer;
		}
		.pic-change .pic-left {
			background: url('../images/index-right_05.png') no-repeat no-repeat;
			opacity: 0.5;
			filter:alpha(opacity = 50);
		}
		.pic-change .pic-right {
			display: block;
			background: url('../images/index-left_03.png') no-repeat no-repeat;
			opacity: 0.5;
			filter:alpha(opacity = 50);
		}
		.copyright {
			padding-bottom: 10px;
		}
		.scan-code {
			top: 380px;
			width: 296px;
			height: 206px;
			padding-top: 20px;
		}
		.scan-code img {
			display: block;
			width: 158px;
			height: 158px;
			margin: 0 auto;
		}
		.scan-code p {
			margin-top: 8px;
			text-align: center;
		}
		.cop-con {
			width: 1200px;
			margin: 0 auto;
		}
		.copyright h3 {
			margin-top: 18px;
			text-align: center;

		}
		.copyright span {
			margin-right: 20px;
			color: #363636;
		}